Source: rock-runtime-perl516
Section: perl
Priority: extra
Maintainer: Philcolabs <support@philcolabs.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.rockstack.org

Package: rock-runtime-perl516
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, rock-runtime-perl516-core, rock-runtime-perl516-cpanm, rock-runtime-perl516-local-lib, rock-runtime-perl516-carton
Description: perl516 runtime for rock.
