#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

prefix := /usr
runtime := php55
php55_rootdir := /opt/rock/runtime/$(runtime)
version := $(shell dpkg-parsechangelog | grep Version | sed 's/.*Version: \([^-]*\).*/\1/')
phar_version := $(shell dpkg-parsechangelog | grep Version | sed 's/.*Version: \([^-]*\).*/\1/' | sed 's/alpha/-alpha/')

get-orig-source:
	uscan --noconf --rename --repack --download-current-version --verbose $(CURDIR)
	tar -xvf $(CURDIR)/../rock-runtime-php55-composer_$(version).orig.tar.gz
	wget http://www.getcomposer.org/download/$(phar_version)/composer.phar
	mv composer.phar composer-*/
	tar -c composer-* | gzip > $(CURDIR)/../rock-runtime-php55-composer_$(version).orig.tar.gz
	rm -rf composer-*
	
override_dh_auto_build:
	ln -s composer.phar composer
	chmod 755 composer

override_dh_auto_install:
	dh_install composer.phar $(php55_rootdir)$(prefix)/bin/
	dh_install CHANGELOG.md $(php55_rootdir)$(prefix)/lib/php/doc/
	dh_install LICENSE $(php55_rootdir)$(prefix)/bin/
	dh_install composer $(php55_rootdir)$(prefix)/bin/

%:
	PATH=$(php55_rootdir)$(prefix)/bin:$$PATH dh $@ 
