Source: rock-runtime-node06
Section: web
Priority: extra
Maintainer: Philcolabs <support@philcolabs.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.rockstack.org

Package: rock-runtime-node06
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 rock-runtime-node06-core (>= 0.6.21-1)
Description: node06 runtime for rock.
