Source: rock-runtime-ruby20-core
Section: ruby
Priority: extra
Maintainer: RockStack <packages@rockstack.org>
Build-Depends: debhelper (>= 8.0.0),
 autotools-dev,
 chrpath,
 libgdbm-dev,
 libncurses-dev,
 libdb-dev,
 libffi-dev,
 libssl-dev,
 libyaml-dev,
 libreadline-dev
Standards-Version: 3.9.3
Homepage: http://ruby-lang.org

Package: rock-runtime-ruby20-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Ruby is an interpreter of object-oriented scripting language.
