Source: rock
Section: devel
Priority: extra
Maintainer: RockStack <packages@rockstack.org>
Build-Depends: debhelper (>= 8.0.0),
 python-argparse,
 python-dev,
 python-nose,
 python-unittest2,
 python-yaml
Standards-Version: 3.9.3
Homepage: http://www.rockstack.org

Package: rock
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 python-argparse,
 python-yaml
Description: This is a cli tool that allows you to easily build, test and run
 applications.
