Source: rock-runtime-python33
Section: python
Priority: extra
Maintainer: Philcolabs <support@philcolabs.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.rockstack.org

Package: rock-runtime-python33
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 rock-runtime-python33-core (>= 3.3.0-1),
 rock-runtime-python33-distribute-setup (>= 0.6.34-1)
Description: python33 runtime for rock.
