Source: rock-runtime-ruby19
Section: ruby
Priority: extra
Maintainer: RockStack <packages@rockstack.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.rockstack.org

Package: rock-runtime-ruby19
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 rock-runtime-ruby19-core (>= 1.9.3p484-1~),
 rock-runtime-ruby19-bundler (>= 1.3.4-1~)
Description: ruby19 runtime for rock.
