Source: rock-release-precise
Section: misc
Priority: extra
Maintainer: Philcolabs <support@philcolabs.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.rockstack.org

Package: rock-release-precise
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Apt repo and key for rockstack repo 
