#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export SHELL = /bin/sh

archname := $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)
prefix := /usr
runtime := perl518
perl518_rootdir := /opt/rock/runtime/$(runtime)
privlib := $(perl518_rootdir)$(prefix)/share/perl5
archlib := $(perl518_rootdir)$(prefix)/lib/perl5

perl518_vendorlib := $(privlib)/vendor_perl
perl518_vendorarch := $(archlib)/vendor_perl

perl518_arch_stem := -thread-multi
perl518_archname := $(archname)-$(perl518_arch_stem)

get-orig-source:
	uscan --noconf --rename --repack --download-current-version --verbose $(CURDIR)

override_dh_clean:
	dh_clean --exclude cpan

override_dh_auto_configure:
	./Configure -des \
	  -Dprefix=$(perl518_rootdir)$(prefix) \
	  -Dvendorprefix=$(perl518_rootdir)$(prefix) \
	  -Dsiteprefix="$(perl518_rootdir)$(prefix)/local" \
	  -Dsitelib="$(perl518_rootdir)$(prefix)/local/share/perl5" \
	  -Dsitearch="$(perl518_rootdir)$(prefix)/local/lib/perl5" \
	  -Dprivlib="$(privlib)" \
	  -Dvendorlib="$(perl518_vendorlib)" \
	  -Darchlib="$(archlib)" \
	  -Dvendorarch="$(perl518_vendorarch)" \
	  -Darchname=$(perl518_archname) \
	  -Dman3ext=3pm \
	  -Dusethreads \
	  -Duseithreads \
	  -Duselargefiles \
	  -Duseperlio

%:
	dh $@ 
