Source: rock-runtime-perl516-carton
Section:  perl
Priority: extra
Maintainer: Philcolabs <support@philcolabs.com>
Build-Depends: debhelper (>= 8.0.0),
 rock-runtime-perl516-cpanm,
 rock-runtime-perl516-local-lib,
 wget
Standards-Version: 3.9.3
Homepage: http://search.cpan.org/~miyagawa/carton-v0.9.4/docs/carton.pod

Package: rock-runtime-perl516-carton
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 rock-runtime-perl516-core,
 rock-runtime-perl516-local-lib
Description: carton is a command line tool to track the Perl module
 dependencies for your Perl application. The managed dependencies are tracked
 in a carton.lock file, which is meant to be version controlled, and the lock
 file allows other developers of your application will have the exact same
 versions of the modules.
