#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

prefix := /usr
runtime := perl516
perl516_rootdir := /opt/rock/runtime/$(runtime)
install_rootdir := $(CURDIR)/debian/rock-runtime-perl516-carton
version := $(shell dpkg-parsechangelog | grep Version | sed 's/.*Version: \([^-]*\).*/\1/')

get-orig-source:
	uscan --noconf --rename --repack --download-current-version --force-download --verbose $(CURDIR)

override_dh_auto_build:
	wget http://www.cpan.org/authors/id/T/TO/TOKUHIROM/Test-Requires-0.06.tar.gz
	wget http://www.cpan.org/authors/id/D/DA/DAGOLDEN/Capture-Tiny-0.21.tar.gz
	wget http://www.cpan.org/authors/id/M/MI/MIYAGAWA/App-cpanminus-1.6008.tar.gz
	wget http://www.cpan.org/authors/id/D/DA/DAGOLDEN/CPAN-Meta-YAML-0.008.tar.gz
	wget http://www.cpan.org/authors/id/M/MI/MIYAGAWA/Module-CPANfile-0.9010.tar.gz
	wget http://www.cpan.org/authors/id/D/DA/DAGOLDEN/Parse-CPAN-Meta-1.4404.tar.gz
	wget http://www.cpan.org/authors/id/D/DA/DAGOLDEN/CPAN-Meta-Requirements-2.122.tar.gz
	wget http://www.cpan.org/authors/id/D/DA/DAGOLDEN/CPAN-Meta-2.120921.tar.gz
	wget http://www.cpan.org/authors/id/T/TM/TMTM/Class-Data-Inheritable-0.08.tar.gz
	wget http://www.cpan.org/authors/id/D/DR/DROLSKY/Devel-StackTrace-1.30.tar.gz
	wget http://www.cpan.org/authors/id/D/DR/DROLSKY/Exception-Class-1.37.tar.gz
	wget http://www.cpan.org/authors/id/M/ML/MLEHMANN/common-sense-3.6.tar.gz
	wget http://www.cpan.org/authors/id/M/ML/MLEHMANN/JSON-XS-2.33.tar.gz
	wget http://www.cpan.org/authors/id/M/MA/MAKAMAKA/JSON-2.53.tar.gz
	wget http://www.cpan.org/authors/id/D/DO/DOY/Try-Tiny-0.12.tar.gz
	wget http://www.cpan.org/authors/id/A/AP/APEIRON/local-lib-1.008009.tar.gz


	cpanm -l local \
	Test-Requires-0.06.tar.gz \
	Capture-Tiny-0.21.tar.gz \
	App-cpanminus-1.6008.tar.gz \
	CPAN-Meta-YAML-0.008.tar.gz \
	Module-CPANfile-0.9010.tar.gz \
	Parse-CPAN-Meta-1.4404.tar.gz \
	CPAN-Meta-Requirements-2.122.tar.gz \
	CPAN-Meta-2.120921.tar.gz \
	Class-Data-Inheritable-0.08.tar.gz \
	Devel-StackTrace-1.30.tar.gz \
	Exception-Class-1.37.tar.gz \
	common-sense-3.6.tar.gz \
	JSON-XS-2.33.tar.gz \
	JSON-2.53.tar.gz \
	Try-Tiny-0.12.tar.gz \
	local-lib-1.008009.tar.gz
  
	cpanm -l local $(CURDIR)/../rock-runtime-perl516-carton_$(version).orig.tar.gz

	bash debian/generate-bin.sh $(perl516_rootdir)$(prefix)
	chmod 0755 carton

override_dh_auto_install:
	dh_install local/* $(perl516_rootdir)$(prefix)/lib/carton/
	dh_install carton $(perl516_rootdir)$(prefix)/bin/

override_dh_auto_test:
	find local
	mkdir -p blib/lib
	cp -rf local/lib/perl5/* blib/lib/
	dh_auto_test

%:
	PATH=$(perl516_rootdir)$(prefix)/bin:$$PATH dh $@
