Source: rock-runtime-php54
Section: php
Priority: extra
Maintainer: RockStack <packages@rockstack.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.rockstack.org

Package: rock-runtime-php54
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 rock-runtime-php54-core (>= 5.4.16-1~),
 rock-runtime-php54-composer (>= 1.0.0alpha7-1~),
 rock-runtime-php54-libmemcached (>= 1.0.16-1~),
 rock-runtime-php54-memcached (>= 2.1.0-1~)
Description: php54 runtime for rock.
