Source: rock-runtime-python27
Section: python
Priority: extra
Maintainer: RockStack <packages@rockstack.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.rockstack.org

Package: rock-runtime-python27
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 rock-runtime-python27-core (>= 2.7.3-1~),
 rock-runtime-python27-virtualenv (>= 1.8.4-1~)
Description: python27 runtime for rock.
