Source: rock-runtime-python27-virtualenv
Section: python
Priority: extra
Maintainer: Philcolabs <support@philcolabs.com>
Build-Depends: debhelper (>= 8.0.0),
 rock-runtime-python27-core
Standards-Version: 3.9.3
Homepage: http://www.virtualenv.org

Package: rock-runtime-python27-virtualenv
Architecture: any
Depends: ${shlibs:Depends},
 ${misc:Depends},
 rock-runtime-python27-core
Description: virtualenv is a tool to create isolated Python environments.
