Source: rock-runtime-node08
Section: web
Priority: extra
Maintainer: RockStack <packages@rockstack.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.rockstack.org

Package: rock-runtime-node08
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 rock-runtime-node08-core (>= 0.8.18-1)
Description: node08 runtime for rock.
