Source: rock-runtime-perl516
Section: perl
Priority: extra
Maintainer: RockStack <packages@rockstack.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.rockstack.org

Package: rock-runtime-perl516
Architecture: all
Depends: ${shlibs:Depends},
 ${misc:Depends},
 rock-runtime-perl516-core (>= 5.16.3-1~),
 rock-runtime-perl516-local-lib (>= 1.008009.0-1~),
 rock-runtime-perl516-cpanm (>= 1.6008.0-1~),
 rock-runtime-perl516-carton (>= 0.9.10-1~)
Description: perl516 runtime for rock.
