Source: rock-runtime-php54-composer
Section: php
Priority: extra
Maintainer: Philcolabs <support@philcolabs.com>
Build-Depends: debhelper (>= 8.0.0),
 rock-runtime-php54-core,
 curl
Standards-Version: 3.9.3
Homepage: http://getcomposer.org

Package: rock-runtime-php54-composer
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Composer is a package manager tracking local dependencies of your
 projects and libraries.
