body {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #606060;
  margin-bottom: 20px;
}

a,
a:visited {
  color: #0488cd;
}

a:hover {
  color: #666;
}


.navbar-default .navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle:hover {
  background-color: #fff;
}

.navbar-default .navbar-toggle:focus {
  background-color: #323B44;
}

.navbar-default .navbar-toggle:hover {
  background-color: #252c34;
}

a.btn-primary,
a.btn-primary:visited {
  color: #fff;
  background-color: #323B44;
  border-color: #323B44;
}

a.btn-primary:hover {
  color: #fff;
  background-color: #252c34;
  border-color: #323B44;
}

h1 {
  font-size: 26px;
  margin-top: 15px;
}

h2 {
  font-size: 22px;
  padding-top: 0;
  margin-top: 15px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:visited,
.navbar-header a,
.navbar-header a:visited {
  color: #fff;
}

.navbar-default .navbar-header a:hover,
.navbar-default ul.nav li:hover {
  color: #fff;
  background-color: #252c34;
}

.navbar-default {
  background-color: #323B44;
  color: #fff;
}

div.main {
  padding: 0 15px;
}

div.tagline {
  color: #fff;
  line-height: 20px;
  padding: 15px 15px 0 0;
}

table.supported td {
  padding-right: 10px;
}

.byline {
  font-style: italic;
}

ul.help {
  padding-left: 20px;
}

.highlight {
  background-color: #f7f7f9;
}

.highlight pre {
  background-color: transparent;
  white-space: nowrap;
  border-color: #ddd;
}
