Source: rock-runtime-perl516-core
Section: perl
Priority: extra
Maintainer: Philcolabs <support@philcolabs.com>
Build-Depends: debhelper (>= 8.0.0), libbz2-dev, tcsh, zlib1g-dev, netbase
Standards-Version: 3.9.3
Homepage: http://www.perl.org

Package: rock-runtime-perl516-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Perl is a high-level programming language with roots in C, sed, awk
 and shell scripting.
