Source: rock-runtime-node06-core
Section: web
Priority: extra
Maintainer: Philcolabs <support@philcolabs.com>
Build-Depends: debhelper (>= 8.0.0),
 autotools-dev,
 libevent-dev,
 libssl-dev,
 python,
 openssl,
 curl
Standards-Version: 3.9.3
Homepage: http://nodejs.org

Package: rock-runtime-node06-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, man
Description: Node is an evented I/O framework for the V8 JavaScript engine.
