#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

prefix := /usr
runtime := perl516
perl516_rootdir := /opt/rock/runtime/$(runtime)

get-orig-source:
	uscan --noconf --rename --repack --download-current-version --verbose $(CURDIR)

dh_override_auto_build:
	perl Makefile.pl INSTALLDIRS=vendor

%:
	PATH=$(perl516_rootdir)$(prefix)/bin:$$PATH dh $@ 
