#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

prefix := /usr
runtime := python33
python33_rootdir := /opt/rock/runtime/$(runtime)

get-orig-source:
	uscan --noconf --rename --repack --download-current-version --verbose $(CURDIR)

override_dh_auto_clean:

override_dh_auto_configure:

override_dh_auto_build:
	cp distribute_setup.py distribute-setup
	chmod 0755 distribute-setup
	sed -i 's|#!python|#!/usr/bin/env python|g' distribute-setup

override_dh_auto_install:
	dh_install distribute-setup $(python33_rootdir)$(prefix)/bin/

%:
	dh $@ 
